.title {
  text-align: center;
}

.converted-data {
  margin-bottom: 1em;
  border: 1px solid black;
  padding: .5em;
  color: rgb(36, 151, 136);
}

#links {
  display: flex;
  justify-content: space-around;
}

#xIcon {
  color: black;
  transition: .3s linear ease;
}
#xIcon:hover {
  color: red;
  cursor: pointer;
}

.xml-link {
  transition: .3s linear ease;
}
.xml-link:hover {
  color: black;
  cursor: pointer;
}

#loader {
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
